<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{ title }}</title>
    <style>
        body {
            padding-top: 56px;
        }
        .navbar-brand {
            font-weight: bold;
        }
        .navbar-nav .nav-link {
            font-weight: 500;
            color: #555;
        }
        .navbar-nav .nav-link:hover {
            color: #000;
        }
        main.container {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="/">MyBlog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout ({{ current_user.name }})</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary text-white mr-2" href="/register">Зарегистрироваться</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-success text-white" href="/login">Войти</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT5T+NQmw8B+YEVnNDVtZ4MRu7Ra0z5S3v5pV0tIURy4A6+W" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-KzZiEnWQ43aZIk3Qj1rZ4sBoE1Q5s7c6trmc7cGpHc5h5iZb5IagqLBEkd0n4+0P" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-a6rm6srS7wIb+WZAeFYF7+m6BQ+mD1a+S5pjW5bW1M0q6St6MziOQw5e1Rdm37t7" crossorigin="anonymous"></script>
</body>

</html>
