<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">Блог</a>
            {% if current_user.is_authenticated %}
                <span class="navbar-text">
                    Привет, {{ current_user.name }}!
                </span>
                <a class="btn btn-outline-danger ml-2" href="/logout">Выйти</a>
            {% else %}
                <a class="btn btn-outline-primary" href="/register">Зарегистрироваться</a>
                <a class="btn btn-outline-success ml-2" href="/login">Войти</a>
            {% endif %}
        </nav>
    </header>
    <main role="main" class="container mt-4">
        {% block content %}{% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT5T8EX1zI08lywTZn0nynj7bZZTjt5m5s1fQ5HfX6WkWRAK8y"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-pzjw8f+ua7Kw1TIqQm1Q8B8/AKddkUvLMP/+BdeAk0oQq2l/4lGQpF5VTOdFkCax"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-w6AhePIp42W35c8Vr0SO1aKzI65dBj8YtmqQYtw8H4Kw5YX5x6FTM9rL2GxQ8tb0"
        crossorigin="anonymous"></script>
</body>
</html>
