{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="mb-4">Записи в блоге</h1>
    <div class="row">
        {% for item in news %}
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">{{ item.title }}</h2>
                    <p class="card-text">{{ item.content }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Автор: {{ item.user.name }}</small><br>
                    <small class="text-muted">Дата написания: {{ item.created_date.strftime('%d.%m.%Y') }}</small><br>
                    <small class="text-muted">Категории: 
                        {% for category in item.categories %}
                            {{ category.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </small>
                </div>
                {% if current_user.is_authenticated and current_user == item.user %}
                <div class="btn-group mt-3" role="group">
                    <a href="/news/{{ item.id }}" class="btn btn-warning mr-2">Изменить</a>
                    <a href="/news_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% if current_user.is_authenticated %}
        <div class="col-12">
            <a href="/news" class="btn btn-secondary mt-4 mr-2">Добавить новость</a>
            <a href="/categories" class="btn btn-secondary mt-4">Редактировать категории</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
