{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="mb-4">{{ title }}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {{ form.title(class="form-control") }}
            {% for error in form.title.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.content.label(class="form-control-label") }}
            {{ form.content(class="form-control") }}
            {% for error in form.content.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.is_private() }} {{ form.is_private.label }}
        </div>
        <div class="form-group">
            {{ form.category.label(class="form-control-label") }}
            {{ form.category(class="form-control") }}
            {% for error in form.category.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
