{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mb-4">{{ title }}</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows=4) }}
        </div>
        <div class="form-group form-check">
            {{ form.is_private(class="form-check-input") }}
            {{ form.is_private.label(class="form-check-label") }}
        </div>
        <div class="form-group">
            {{ form.categories.label(class="form-label") }}
            {{ form.categories(class="form-control", multiple=True) }} 
            <small class="form-text text-muted">Нажмите и удерживайте клавишу Ctrl (Windows) или Command (Mac), чтобы выбрать несколько категорий.</small>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
{% endblock %}
